In [77]:
import pandas as pd
marks_excel = pd.read_excel('originalgp.xlsx')
marks_excel = marks_excel.replace(0,np.nan)
sub_excel = pd.read_excel('sublist.xlsx')
import numpy as np
marks_excel

,Unnamed: 0,rn,sn,name,dob,en_th,en_pr,en,ne_th,ne_pr,...,ch,ed_th,ed_pr,ed,on_th,on_pr,on,oh_th,oh_pr,oh
0,NaN,782330220001,13302275,Aarti Shreshta,NaT,2.8,4.0,3.1,2.4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,782330220002,13302276,Abhisek Raj,2061-03-26,2.4,4.0,2.8,2.8,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,782330220003,13302277,Abhisek Yadav,2060-03-08,2.4,4.0,2.8,3.2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,782330220004,13302278,Amisha Yadav,2060-05-27,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,782330220005,13302279,Amrita Chaurasiya,2062-01-05,2.4,4.0,2.8,3.2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,74.0,782330220075,13302349,Tej Narayan Prasad Mandal,2060-12-25,2.4,4.0,2.8,2.8,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,75.0,782330220076,13302350,Umesh Kumar Mandal,2055-07-05,2.4,4.0,2.8,2.4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,76.0,782330220077,13302351,Utam Kumar Ojha,2061-01-10,2.8,4.0,3.1,3.2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,77.0,782330220078,13302352,Yad Hussain Hawari,2062-07-11,2.4,4.0,2.8,2.4,4.0,...,3.1,2.4,4.0,2.8,2.4,4.0,2.8,NaN,NaN,NaN
78,78.0,782330220079,13302353,Yantom Tamang,2050-09-04,2.4,4.0,2.8,2.4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# create marks and sub data
marks = marks_excel.copy()
sub_data = sub_excel.copy()
sub_data = sub_data.T
sub_data.columns = ['Subject Code','SUBJECTS','CREDIT HOUR(CH)']
sub_data

      Subject Code                               SUBJECTS CREDIT HOUR(CH)
en_th           31                        COM.ENGLISH(TH)               3
en_pr           32                        COM ENGLISH(IN)               1
ne_th           11                         COM.NEPALI(TH)            2.25
ne_pr           12                         COM.NEPALI(IN)            0.75
so_th           51  COM SOCIAL STUDIES AND LIFE SKILL(TH)            3.75
so_pr           52  COM SOCIAL STUDIES AND LIFE SKILL(IN)            1.25
ec_th         3031                          ECONOMICS(TH)            3.75
ec_pr         3032                          ECONOMICS(IN)            1.25
bu_th         2151                   BUSINESS STUDIES(TH)            3.75
bu_pr         2152                   BUSINESS STUDIES(IN)            1.25
ac_th         1031                         ACCOUNTING(TH)            3.75
ac_pr         1032                         ACCOUNTING(IN)            1.25
ch_th         1151     CHILD DEVELOPMENT AND LEARNING(TH)            3.75
ch_pr         1152     CHILD DEVELOPMENT AND LEARNING(IN)            1.25
ed_th         2031          EDUCATION AND DEVELOPMENT(TH)            3.75
ed_pr         2032          EDUCATION AND DEVELOPMENT(IN)            1.25
on_th         3311                            NEPALI (TH)            3.75
on_pr         3312                            NEPALI (IN)            1.25
oh_th         4431      HEALTH AND PHYSICAL EDUCATION(TH)            3.75
oh_pr         4432      HEALTH AND PHYSICAL EDUCATION(IN)            1.25

In [79]:
#access by last digit of registeration no in marks 
def student(last_digit):
    regno = 782330220000 + last_digit
    return marks.loc[marks['rn'] == regno]
student(14)

,Unnamed: 0,rn,sn,name,dob,en_th,en_pr,en,ne_th,ne_pr,...,ch,ed_th,ed_pr,ed,on_th,on_pr,on,oh_th,oh_pr,oh
13,13.0,782330220014,13302288,Bihari Lal Mahato Khulwat,2060-05-30,2.8,4.0,3.1,2.4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# select only sub th and sub in marks
def marksheet(last_digit):
    temp = student(last_digit)
    temp = temp.iloc[:,4:] # remove details other than marks
    temp = temp.drop(['en','ne','so','ec','bu','ac','ch','ed','on','oh'],axis=1)
    temp = temp.dropna(axis = 1) # drop unselected and subjects that has no marks
    return temp
# select student regno, roll no, name , dob
def student_info(last_digit):
    temp = student(last_digit)
    temp = temp[['rn','sn','name','dob']]
    temp.columns = ['REGISTERATON NO','SYMBOL NO','NAME','DOB']
    return temp

In [82]:
# helper functions 
def re_scale(num): # scale number in 100 scale
    #caution assumes no theory number assigned to students is less than or equall to 25
    if (num > 25):
        scaled_mark = (num/75)*100
    else:
        scaled_mark = (num/25)*100
    return scaled_mark

def conv_into_gp(num): # convert scaled number into gp
    if (num >= 90):
        gp = 4.0
    elif (num >= 80 and num < 90):
        gp = 3.6
    elif (num >= 70 and num < 80):
        gp = 3.2
    elif (num >= 60 and num < 70):
        gp = 2.8
    elif (num >= 50 and num < 60):
        gp = 2.4
    elif (num >= 40 and num < 50):
        gp = 2.0
    elif (num >= 35 and num < 40):
        gp = 1.6
    elif (num < 35):
        gp = 0
    return gp

def gp_to_letter(num):
    if (num >= 4.0):
        l = 'A+'
    elif(num >= 3.6 and num < 4.0):
        l = 'A'
    elif(num >= 3.2 and num < 3.6):
        l = 'B+'
    elif (num >= 2.8 and num < 3.2):
        l = 'B'
    elif (num >= 2.4 and num < 2.8):
        l = 'C+'
    elif (num >= 2.0 and num < 2.4):
        l = 'C'
    elif(num >= 1.6 and num < 2.0):
        l = 'D'
    elif(num >= 0 and num < 1.6):
        l = 'NG'
    return l    

def letter_to_gp(l):
    if (l == 'A+'):
        gp = 4.0
    elif(l == 'A'):
        gp = 3.6
    elif(l == 'B+'):
        gp = 3.2
    elif (l == 'B'):
        gp = 2.8
    elif (l == 'C+'):
        gp = 2.4
    elif (l == 'C'):
        gp = 2.0
    elif(l == 'D'):
        gp = 1.6
    elif(l == 'NG'):
        gp = 0
    return gp

In [83]:
# create grade sheet of student
def gradesheet(last_digit):
    gpsheet = marksheet(last_digit)
    gpsheet = gpsheet.T
    gpsheet.columns=['GRADE POINT(GP)']
    conditions = [
        (gpsheet['GRADE POINT(GP)'] == 4.0),
        (gpsheet['GRADE POINT(GP)'] == 3.6),
        (gpsheet['GRADE POINT(GP)'] == 3.2),
        (gpsheet['GRADE POINT(GP)'] == 2.8),
        (gpsheet['GRADE POINT(GP)'] == 2.4),
        (gpsheet['GRADE POINT(GP)'] == 2.0),
        (gpsheet['GRADE POINT(GP)'] == 1.6),
        (gpsheet['GRADE POINT(GP)'] == 0),
    ]
    choices = ['A+','A','B+','B','C+','C','D', 'NG']
    gpsheet['GRADE'] = np.select(conditions, choices)
    return gpsheet

In [84]:
# create full grade_sheet except final grade column
def full_grade_sheet(last_digit):
    temp = gradesheet(last_digit)
    temp = pd.concat([sub_data, temp], axis=1)
    temp = temp.dropna(axis = 0)
    return temp

In [85]:
# create final grade column
def final_grade_col(last_digit):
    # select total sub marks
    temp = student(last_digit)
    temp = temp.iloc[:,4:] # remove details other than marks
    temp = temp[["en","ne","so","ec","bu","ac","ch","ed","on","oh"]]
    temp.columns = ["en_th","ne_th","so_th","ec_th","bu_th","ac_th","ch_th","ed_th","on_th","oh_th"]
    temp = temp.dropna(axis = 1) # drop unselected and subjects that has no marks
    temp = temp.applymap(gp_to_letter)
    temp = temp.T
    temp.columns = ['FINAL GRADE (FG)']
    return temp

In [86]:
def complete_sheet(last_digit):
    # acess fullgrade sheet without ginal grade col
    sheet1 = full_grade_sheet(last_digit)
    # acess final grade col
    sheet2 = final_grade_col(last_digit)
    #concatenate
    temp = pd.concat([sheet1, sheet2], axis=1)
    temp['REMARKS'] = np.nan
    return temp

In [87]:
# function to calculate GPA
def cal_gpa(last_digit):
    # acess complete sheet
    sheet = complete_sheet(last_digit)
    # acess grade point column and credit hour coloumn
    gpa  = np.sum(sheet['CREDIT HOUR(CH)']*sheet['GRADE POINT(GP)'])/np.sum(sheet['CREDIT HOUR(CH)'])
    return gpa

In [88]:
def prepare(last_digit):
    sheet = complete_sheet(last_digit)
    filename = '0000'+str(last_digit)+".xlsx"
    sheet.to_excel(filename)
    return cal_gpa(last_digit),student_info(last_digit)

In [89]:
prepare(14)

(2.9,
     REGISTERATON NO  SYMBOL NO                       NAME        DOB
 13     782330220014   13302288  Bihari Lal Mahato Khulwat 2060-05-30)