In [6]:
import pandas as pd
marks_excel = pd.read_excel('book5.xlsx')
sub_excel = pd.read_excel('sublist.xlsx')

import numpy as np

In [7]:
# create marks and sub data
marks = marks_excel.copy()
sub_data = sub_excel.copy()
sub_data = sub_data.T
sub_data.columns = ['Subject Code','SUBJECTS','CREDIT HOUR(CH)']

In [8]:
#access by last digit of registeration no in marks 
def student(last_digit):
    regno = 782330220000 + last_digit
    return marks.loc[marks['rn'] == regno]
student(5)

,rn,sn,name,dob,en_th,en_pr,ne_th,ne_pr,so_th,so_pr,...,ac_th,ac_pr,ch_th,ch_pr,ed_th,ed_pr,on_th,on_pr,oh_th,oh_pr
4,782330220005,13302279,Amrita Chaurasiya,2062-01-05,42.0,23.0,56.0,24.0,40.0,24.0,...,40.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# remove other details except sub marks and remove unselected subjects
def marksheet(last_digit):
    temp = student(last_digit)
    temp = temp.iloc[:,4:] # remove details other than marks
    temp = temp.dropna(axis = 1) # drop unselected and subjects that has no marks
    return temp
marksheet(5)

,en_th,en_pr,ne_th,ne_pr,so_th,so_pr,ec_th,ec_pr,bu_th,bu_pr,ac_th,ac_pr
4,42.0,23.0,56.0,24.0,40.0,24.0,47.0,24.0,48.0,23.0,40.0,24.0

In [10]:
# helper functions 
def re_scale(num): # scale number in 100 scale
    #caution assumes no theory number assigned to students is less than or equall to 25
    if (num > 25):
        scaled_mark = (num/75)*100
    else:
        scaled_mark = (num/25)*100
    return scaled_mark

def conv_into_gp(num): # convert scaled number into gp
    if (num >= 90):
        gp = 4.0
    elif (num >= 80 and num < 90):
        gp = 3.6
    elif (num >= 70 and num < 80):
        gp = 3.2
    elif (num >= 60 and num < 70):
        gp = 2.8
    elif (num >= 50 and num < 60):
        gp = 2.4
    elif (num >= 40 and num < 50):
        gp = 2.0
    elif (num >= 35 and num < 40):
        gp = 1.6
    elif (num < 35):
        gp = 0
    return gp

In [11]:
# create grade sheet of student
def gradesheet(last_digit):
    sheet = marksheet(last_digit)
    # rescale
    rsheet = sheet.applymap(re_scale)
    gpsheet = rsheet.applymap(conv_into_gp)
    gpsheet = gpsheet.T
    gpsheet.columns=['GRADE POINT']
    conditions = [
        (gpsheet['GRADE POINT'] == 4.0),
        (gpsheet['GRADE POINT'] == 3.6),
        (gpsheet['GRADE POINT'] == 3.2),
        (gpsheet['GRADE POINT'] == 2.8),
        (gpsheet['GRADE POINT'] == 2.4),
        (gpsheet['GRADE POINT'] == 2.0),
        (gpsheet['GRADE POINT'] == 1.6),
        (gpsheet['GRADE POINT'] == 0),
    ]
    choices = ['A+','A','B+','B','C+','C','D', 'NG']
    gpsheet['GRADE'] = np.select(conditions, choices)
    return gpsheet

In [16]:
# create final grade_sheet
def final_grade_sheet(last_digit):
    temp = gradesheet(last_digit)
    temp = pd.concat([sub_data, temp], axis=1)
    temp = temp.dropna(axis = 0)
    return temp

In [17]:
final_grade_sheet(5)

,Subject Code,SUBJECTS,CREDIT HOUR(CH),GRADE POINT,GRADE
en_th,31,COM.ENGLISH(TH),3,2.4,C+
en_pr,32,COM ENGLISH(IN),1,4.0,A+
ne_th,11,COM.NEPALI(TH),2.25,3.2,B+
ne_pr,12,COM.NEPALI(IN),0.75,4.0,A+
so_th,51,COM SOCIAL STUDIES AND LIFE SKILL(TH),3.75,2.4,C+
so_pr,52,COM SOCIAL STUDIES AND LIFE SKILL(IN),1.25,4.0,A+
ec_th,3031,ECONOMICS(TH),3.75,2.8,B
ec_pr,3032,ECONOMICS(IN),1.25,4.0,A+
bu_th,2151,BUSINESS STUDIES(TH),3.75,2.8,B
bu_pr,2152,BUSINESS STUDIES(IN),1.25,4.0,A+
ac_th,1031,ACCOUNTING(TH),3.75,2.4,C+
ac_pr,1032,ACCOUNTING(IN),1.25,4.0,A+