In [1]:
import pandas
marks = pandas.read_excel('book5.xlsx')

In [2]:
marks

,rn,sn,name,dob,en_th,en_pr,ne_th,ne_pr,so_th,so_pr,...,ac_th,ac_pr,ch_th,ch_pr,ed_th,ed_pr,on_th,on_pr,oh_th,oh_pr
0,782330220001,13302275,Aarti Shreshta,NaT,46.0,24.0,43.0,23.0,40.0,23.0,...,46.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,782330220002,13302276,Abhisek Raj,2061-03-26,40.0,23.0,47.0,23.0,40.0,24.0,...,40.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,782330220003,13302277,Abhisek Yadav,2060-03-08,40.0,23.0,55.0,24.0,40.0,25.0,...,40.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,782330220004,13302278,Amisha Yadav,2060-05-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,782330220005,13302279,Amrita Chaurasiya,2062-01-05,42.0,23.0,56.0,24.0,40.0,24.0,...,40.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,782330220075,13302349,Tej Narayan Prasad Mandal,2060-12-25,40.0,23.0,49.0,23.0,40.0,23.0,...,40.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,782330220076,13302350,Umesh Kumar Mandal,2055-07-05,40.0,23.0,40.0,23.0,40.0,23.0,...,40.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,782330220077,13302351,Utam Kumar Ojha,2061-01-10,45.0,24.0,56.0,24.0,40.0,25.0,...,51.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,782330220078,13302352,Yad Hussain Hawari,2062-07-11,40.0,23.0,44.0,23.0,42.0,24.0,...,NaN,NaN,47.0,23.0,40.0,23.0,40.0,23.0,NaN,NaN
78,782330220079,13302353,Yantom Tamang,2050-09-04,40.0,23.0,41.0,23.0,40.0,22.0,...,40.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
expr = marks.copy()

In [26]:
#access by last digit of registeration no
def student(last_digit):
    regno = 782330220000 + last_digit
    return expr.loc[expr['rn'] == regno]

In [29]:
def marksheet(last_digit):
    temp = student(last_digit)
    temp = temp.dropna(axis = 1)
    sub_table  =

,rn,sn,name,dob,en_th,en_pr,ne_th,ne_pr,so_th,so_pr,ec_th,ec_pr,bu_th,bu_pr,ac_th,ac_pr
4,782330220005,13302279,Amrita Chaurasiya,2062-01-05,42.0,23.0,56.0,24.0,40.0,24.0,47.0,24.0,48.0,23.0,40.0,24.0