In [18]:
import pandas as pd
marks = pandas.read_excel('book5.xlsx')
import numpy as np

In [7]:
expr = marks.copy()

In [8]:
#access by last digit of registeration no
def student(last_digit):
    regno = 782330220000 + last_digit
    return expr.loc[expr['rn'] == regno]

In [9]:
def marksheet(last_digit):
    temp = student(last_digit)
    temp = temp.iloc[:,4:]
    temp = temp.dropna(axis = 1)
    return temp

In [28]:
msheet= marksheet(3)
def re_scale(num):
    if (num > 25):
        scaled_mark = (num/75)*100
    else:
        scaled_mark = (num/25)*100
    return scaled_mark
scaled_sheet = msheet.applymap(re_scale)

In [65]:
def conv_into_gp(num):
    if (num >= 90):
        gp = 4.0
    elif (num >= 80 and num < 90):
        gp = 3.6
    elif (num >= 70 and num < 80):
        gp = 3.2
    elif (num >= 60 and num < 70):
        gp = 2.8
    elif (num >= 50 and num < 60):
        gp = 2.4
    elif (num >= 40 and num < 50):
        gp = 2.0
    elif (num >= 35 and num < 40):
        gp = 1.6
    elif (num < 35):
        gp = 0
    return gp

In [69]:
msheet

,en_th,en_pr,ne_th,ne_pr,so_th,so_pr,ec_th,ec_pr,bu_th,bu_pr,ac_th,ac_pr
2,40.0,23.0,55.0,24.0,40.0,25.0,60.0,24.0,40.0,23.0,40.0,24.0